@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montaga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bebas+Neue&family=Montaga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.montaga {
    font-family: "Montaga", serif;
}
.roboto {
    font-family: "Roboto", sans-serif;
}
.averia {
    font-family: "Averia Serif Libre", serif;
}
.bebas {
    font-family: "Bebas Neue", sans-serif;
}

.v-main{
    background-color: black;
    color: aliceblue;
}
.v-btn{
    color: aliceblue !important;
}
.v-icon{
    height: 30px;
    color: aliceblue !important;
}
.theme--light:not(.v-icon){
    color: aliceblue;
    background-color: none;
}

.v-application p, input{
    margin: 0 !important;
    padding: 0 !important;
    color: aliceblue;
}

.theme--light.v-label, .theme--light.v-input input, .theme--light.v-input {
    color: rgba(255, 255, 255, 0.6) !important;
}

.v-input--is-focused {
    color: #FFAE00 !important;
    caret-color: #FFAE00 !important;
}

input:-internal-autofill-selected{
    background-color: none !important;
}